extends layout

block content
  #container
    select#person-select
      option(value='ali') Ali
      option(value='doron') Doron
      option(value='pierre') Pierre 
      option(value='pierluigi') Pierluigi
      option(value='tomas') Tomás
    textarea(name='message', rows='4', cols='25', id='message')
    #doit Do it!
